h2 {
    color: #79C8C7;
}
.icon {
    margin-left: -28px;
    margin-top: -28px;
    transition: all 0.3s ease;
}
.icon:hover {
    transform: rotate(55deg);
}

path:hover {
    fill: darkblue;
}
.box {
    margin-top: 60px;
    margin-left: -20px;
}